@using BlazorHTMX.Api.Models
@using Microsoft.AspNetCore.Components.Forms

<h3>CreateProtocolForm</h3>
<form hx-post="/form">
    <input type="text" placeholder="Name" name="name"/>
    <button type="submit">Submit</button>
    <AntiforgeryToken />
</form>

@code {
	[Parameter]
	public ProtocolModel ProtocolModel { get; set; } = new();
}
